.indiviual-product-container {
  max-width: 800px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 4px;
  display: flex;
}
img {
  width: 250px;
  height: 250px;
}

.image-container img {
  aspect-ratio: 16/9;
  object-fit: scale-down;
}

.highlight {
  display: inline-block;
  color: #fff;
  line-height: 2em;
  padding: 2px 10px 2px 15px;
  border-radius: 4px;
}

.red-bg {
  background: rgb(151, 72, 72);
}
.highlight:after {
  content: "";
  /* position: absolute; */
  z-index: -1;
  left: 92px;
  top: 8px;
  width: 10px;
  border: 15px solid red;
  border-right-color: transparent;
}

.size-containeer {
  display: flex;
  gap: 4px;
}

.greybackground {
  border-radius: 50%;
  border: 3px solid rgb(226 232 240);
  background-color: rgb(226 232 240);
}

.whitebackground {
  border-radius: 50%;
  border: 3px solid white;
  background-color: white;
}
