nav{
    background-color: rgba(17, 85, 187, 0.841);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 8px;
    gap: 1px;
    flex-wrap: wrap;
    color: white;
    text-align: center;
}


.title{
    font-weight: bold;
    border: none;
  
}

.actions{

    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}


.actionLink{
    color: white;
    text-decoration: none;
}

