.jumbotron {
  width: 100%;
}

.jumbotitle {
  position: absolute;
  left: 30px;
  bottom: 500px;
}

.btn {
  position: absolute;
  top: 10%;

  cursor: pointer;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  bottom: 120px;
  left: 100px;
}
