.productCard {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  grid-auto-rows: minmax(50px, auto);
}
/* .productitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
} */

.productitems {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Arial;

  padding: 2px;
  width: 250px;
}

.product-image {
  width: 250px;
  aspect-ratio: 16/9;
  object-fit: scale-down;
  margin: auto;
}
.product-image :hover {
  transform: scale(1.1, 1.1);
  transition: 0.1s ease-in;
}

.product-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.brand-rating {
  display: flex;
  width: 400px;
  height: 23px;
  align-items: center;
  justify-content: space-evenly;
}
.shoeSize {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 60px;
  align-items: center;
  justify-content: space-between;
}
.prices {
  display: flex;
  padding: 6px;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.productprice {
  margin-top: 5px;
  color: black;
}

.size {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.product-price {
  margin-top: 5px;
  color: #888;
  text-decoration: line-through;
}
.discountedPrice {
  margin-top: 5px;
  color: black;
}

.buttons-div {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  align-items: center;
  justify-content: center;
}
