.productCard {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
/* .productitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
} */

.productitems {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  background: peachpuff;
  padding: 5px;
}

.product-image {
  aspect-ratio: 16/9;
  object-fit: scale-down;
}

.product-title {
  margin-top: 10px;
}
.shoeSize {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: 60px;
  align-items: center;
  justify-content: space-between;
}
.prices {
  display: flex;
  padding: 6px;
  gap: 5px;
}
.productprice {
  margin-top: 5px;
  color: black;
}
.product-price {
  margin-top: 5px;
  color: #888;
  text-decoration: line-through;
}
.discountedPrice {
  margin-top: 5px;
  color: black;
}

.buttons-div {
  padding: 4px;
}
